[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = main
[submodule "px4-ros2-interface-lib"]
	path = px4-ros2-interface-lib
	url = https://github.com/Auterion/px4-ros2-interface-lib.git
	branch = main
[submodule "3rd_party/acados"]
	path = 3rd_party/acados
	url = https://github.com/acados/acados.git
	branch = master
[submodule "3rd_party/PX4-Autopilot"]
	path = 3rd_party/PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
	branch = main
[submodule "3rd_party/Micro-XRCE-DDS-Agent"]
	path = 3rd_party/Micro-XRCE-DDS-Agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
	branch = master
